html
  head
    title= title
    link(rel='stylesheet' href='/css/index.css')
  body
    h1= message
    a(href='https://www.google.com') Link to Google
    ='\n'
    a(class='button' href='https://www.reddit.com') Link to Reddit
    - var authenticated = true
    p(class=authenticated ? 'authed' : 'anon')
    span Should this box be checked?
    input(
      type='checkbox'
      name='agreement'
      checked
    )
    //- not sure about forcing a linebreak here, but it's interesting to see how it's done
    br
    input(data-something=`
      {
        "test": "all",
        "the": "things"
      }
    ` type='text'
    )
    -var url = 'https://dev-quest.herokuapp.com'
    a(href=url) Dev-Quest!
    -var btnType='info'
    -var btnSize='large'
    button(class=`btn btn-${btnType} btn-${btnSize}`)
    //- inline styling D: has some neat properties though
    a(style={color: 'red', background: 'blue'}) test
    -var classes=['testclass', 'otherclass', 'yougettheidea']
    p(class=classes) this text has a bunch of classes!
    p.hugetext yo
      #content this is a div with a bunch of text in it with id content!
      a#notcontent(href=url) it's inside the p tag!
